<div class="top-wrapper">
  <div class="h-screen w-screen flex justify-center items-center">
    <div class="top-inner-text">
      <p class="text-4xl">〜Studying Trackerは学習者のための勤怠管理アプリです〜</p><br>
      <br>
      <p class="text-2xl">💡Studying Trackerで学習を開始すると、同じタイミングで学習している人と、一緒に頑張ることができます</p>
      <br>
      <p class="text-2xl">💡学習した時間は記録に残り、今まで頑張った合計時間がわかります</p>
      <br>
      <br>
      <p class="text-3xl">＜使い方＞</p>
      <p class="text-2xl">1. 右上の「ログインページへ」に進む</p>
      <p class="text-2xl">2. ログインする（初めて使う方は、新規ユーザー登録を実施後ログインしてください）</p>
      <p class="text-2xl">3. ヘッダーの「学習開始」に進み、「開始」を押すと、学習記録開始！</p>
      <p class="text-2xl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同じタイミングで学習している人もみることができます。</p>
      <p class="text-2xl">4. 更新を都度押していただくと、後から学習を開始した人も見えるようになります（自分の経過時間も更新されます）</p>
      <p class="text-2xl">5. 学習が終了したら「終了」ボタンを押してください。開始から終了までの時間が記録されます。</p>
      <p class="text-2xl">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※休憩のたびに終了を押すかはお好みで！</p>
      <p class="text-2xl">6. 今までの自分の学習記録と、学習時間の合計は、「プロフィール」からみることができます。</p>
      <br>
      <br>
      <p class="text-3xl">〜Studying Trackerを使ってみんなで一緒にLet's Studying！〜 </p>
    </div>
  </div>
</div>
