<div class="top-wrapper overflow-hidden">
  <div class="h-auto w-screen flex justify-center items-center md:h-screen">
    <div class="top-inner-text overflow-hidden text-center" text-align: center;>
      <br>
      <br>
      <br>
      <p class="text-3xl font-bold" font-weight: 700;>Studying Trackerは学習者のための勤怠管理アプリです</p><br>
      <br>
      <p class="text-2xl">💡Studying Trackerでは、同じタイミングで学習している人と一緒に頑張ることができます</p>
      <br>
      <p class="text-2xl">💡学習が記録に残り、今まで頑張った合計時間がわかります</p>
      <br>
      <br>
      <br>
      <p class="text-2xl">＜使い方＞</p>
      <br>
      <table class="table table-pin-rows text-xl">
        <tbody>
          <tr></tr>
          <tr><td>1. 初めて使うときは、右上の「登録ページへ」に進み、ユーザー登録をします<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※登録済みの方は「ログインページへ」に進みます</td></tr>
          <tr><td>2. ログインします</td></tr>
          <tr><td>3. 「学習開始」に進み、「学習を開始する」を押して、記録開始！<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;同じタイミングで学習している人も見ることができます</td></tr>
          <tr><td>4. 「更新」を押すと、経過時間も更新され、自分より後に学習を開始した人も見えるようになります</td></tr>
          <tr><td>5. 学習が終了したら「終了」を押すと、記録を終了します<br>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※休憩のたびに終了するかはお好みで！&nbsp;止め忘れた際は編集が可能です！</td></tr>
          <tr><td>6. 「プロフィール」ページで、自分の学習記録と合計時間を見ることができます</td></tr>
          <tr></tr>
        </tbody>
      </table>
      <br>
      <br>
      <br>
      <p class="text-3xl font-bold" font-weight: 700;>✨Studying Trackerを使ってみんなで一緒にLet's Studying！✨</p>
      <br>
      <br>
    </div>
  </div>
</div>
