<header data-theme="retro">
  <nav class="navbar navbar-expand-lg navigation navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav ml-auto main-nav align-items-center">
        <div class="nav-item">
          <%= link_to (t 'defaults.login'), login_path ,class: 'nav-link' %>
        </div>
      </div>
    </div>
  </nav>
</header>
