<footer id='footer' class='footer-bottom' data-theme="retro">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2023. team satoharu</p>
        </div>
      </div>
    </div>
  </div>
</footer>
