<footer data-theme="retro", class="font-top p-20 text-xl">
  <div class="flex-wrap justify-center text-headfoot">
    <p>Developed_by team satoharu</p>
    <p>44期:おおくまりょうや 44期:おのたつや 44期:さとうはるか 44期:やましたたかひろ</p>
    <br>
    <p>Special Thanks.</p>
    <p>34期:れなっちさん 36期:ふじいさん 39期:yutaさん 40期:ミツさん</p>
  </div>
</footer>
