<footer id='footer' class='footer-bottom' data-theme="retro">
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Developed_by team satoharu</p>
          <p>Special Thanks.</p>
          <p>34期：れなっちさん　36期：ふじいさん　39期：yutaさん　40期：ミツさん</p>
        </div>
      </div>
    </div>
  </div>
</footer>
