<div class="container pt-3">
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @study_time.present? %>
          <%= render @study_time %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>