<div class="h-96" style="display: flex; justify-content: center; align-items: center;">
  <%= form_with model: @study_time, url: study_times_path, local: true do |f| %>
    <%= f.submit t('.start'), class: 'btn btn-wide btn-lg btn-accent' %>
  <% end %>
</div>